agm-map {
    height: 519px;
  
  
  }
  
  .agm-map-container-inner {
    border-radius: 0px 0px 36px 0px !important;
  }
  
  .app-background {
    width: 1920px;
    height: 1080px;
    background: #72A1BF 0% 0% no-repeat padding-box;
  
    .app-btn-home {
      padding: 4px;
      position: absolute;
      top: 29px;
      left: 32px;
      width: 84px;
      height: 42px;
      background: #F2FAFF 0% 0% no-repeat padding-box;
      border-radius: 4px;
      // opacity: 1;
      // text-align: left;
      font: normal normal normal 14px/19px Segoe UI;
      letter-spacing: 0px;
      color: #A0A3A5;
      text-transform: uppercase;
      opacity: 1;
    }
  
    .main-box {
      position: absolute;
      top: 205px;
      left: 392px;
      width: 1137px;
      height: 670px;
      background: #074770 0% 0% no-repeat padding-box;
      border-radius: 36px;
      opacity: 1;
    }
  
    .align-table {
      position: absolute;
      bottom: 0;
    }
  
    .align-sec {
      display: flex;
      flex-direction: row;
  
      .left-section {
        // position: absolute;
        // top: 356px;
        // left: 392px;
        width: 523px;
        height: 519px;
        background: #F2FAFF 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 0px 36px;
        opacity: 1;
        display: flex;
        flex-direction: column;
  
        .heading {
          font-size: medium;
          padding: 2em 2em 0em 2em;
          font: normal normal normal 14px/19px Segoe UI;
  
        }
  
  
  
        .app-btn-show-result {
          color: white;
          top: 794px;
          left: 428px;
          width: 445px;
          height: 42px;
          margin-left: 36px;
          background: #074770 0% 0% no-repeat padding-box;
          border-radius: 21px;
          opacity: 1;
          margin-bottom: 2em;
        }
      }
  
      .right-section {
        // position: absolute;
        // top: 356px;
        // left: 915px;
        width: 614px;
        height: 519px;
        background: 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 36px 0px;
        opacity: 1;
      }
    }
  
    .align-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    .top-section {
      // position: absolute;
      // top: 356px;
      // left: 392px;
      width: 100%;
      height: 151px;
      // background: #F2FAFF 0% 0% no-repeat padding-box;
      border-radius: 36px 36px 0px 0px;
      opacity: 1;
  
      .align-container-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  
      .app-btn-submit {
        top: 264px;
        left: 1288px;
        width: 179px;
        height: 42px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 21px;
        opacity: 0.49;
      }
  
      ::-webkit-input-placeholder {
        /* WebKit browsers */
        padding: 4px;
      }
  
      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        padding: 4px;
  
      }
  
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        padding: 4px;
  
      }
  
      :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        padding: 4px;
  
      }
  
      .location-name {
        top: 245px;
        left: 428px;
        width: 93px;
        height: 19px;
        text-align: left;
        font: normal normal normal 14px/19px Segoe UI;
        letter-spacing: 0px;
        color: #A5C0D1;
        opacity: 1;
      }
  
  
  
      .align-box {
        display: grid;
        margin-left: 1em;
      }
  
      .name-input {
  
        background: #F2FAFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
      }
  
      .name-align {
        width: 179px;
        height: 42px;
      }
  
      .lat-align {
        width: 120px;
        height: 42px;
      }
  
      .lon-align {
        width: 120px;
        height: 42px;
      }
    }
  
  }
  