<ng-container>

  <div id="main-container" class="app-background">
    <div>
      <button type="submit" id="home" class="app-btn-home" (click)="onHomeClick()">HOME</button>
    </div>
    <div id="sec-container" class="main-box">
      <div id="top-section" class="top-section align-container">
        <div class="left-elem align-container-left">
          <div class="align-box">
            <label id="name" class="location-name">Location Name</label>
            <input type="text" id="app-name" class="name-input name-align" placeholder="Location" [(ngModel)]="inputLocationName">
          </div>
          <div class="align-box">
            <label id="lat" class="location-name">Enter Latitude</label>
            <input type="text" id="app-lat" class="name-input lat-align" [(ngModel)]="inputLat" placeholder="Lat">
          </div>
          <div class="align-box">
            <label id="lon" class="location-name">Enter Longitude</label>
            <input type="text" id="app-lon" class="name-input lon-align" [(ngModel)]="inputLon" placeholder="Lon">
          </div>
        </div>
        <div class="right-elem">
          <div>
            <button type="submit" id="app-submit" class="app-btn-submit" (click)="onSubmitCity()" >SUBMIT</button>
          </div>

        </div>
      </div>
      <div id="lower-section" class="align-sec">
        <div id="left-section" class="left-section">
          <!-- MAIN CODE -->
          <!-- <div> -->
          <div class="heading">
            All Co-ordinates
          </div>
          <table class="heading">
            <thead></thead>
            <tbody>
              <tr *ngFor="let location of addLocations;let i=index;">
                <td>{{ i+1 }})</td>
                <td>{{ location.locationName }}</td>
                <td>{{ location.locationLat }}</td>
                <td>{{ location.locationLon }}</td>
              </tr>
            </tbody>
          </table>
        <!-- </div> -->
          <div class="align-table">
            <button type="submit" id="app-submit" class="app-btn-show-result" (click)="onShowResult()" >Show Route</button>

          </div>





        </div>
        <div id="right-section" class="right-section">
          <agm-map [latitude]="lat" [longitude]="lng" [fitBounds]="true">
            <agm-marker *ngFor="let location of locationList;" [latitude]=location.locationLat [longitude]=location.locationLon
            [agmFitBounds]=true
            ></agm-marker>
            <agm-polyline [visible]=true [strokeWeight]="3" [strokeColor]="'#000000'">
              <agm-polyline-point *ngFor="let locationPoint of locationList;let i=index"
              [latitude]=locationPoint.locationLat [longitude]=locationPoint.locationLon
              ></agm-polyline-point>
            </agm-polyline>
            
          </agm-map>
        </div>
      </div>


    </div>
  </div>
</ng-container>